#menu .pure-menu-sub-heading {
    font-size: 60%;
    color: #fff;
    margin: 0;
}

.item {
    border-color: #ddd;
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 14px 15px 14px 15px;
}

.list {
    list-style: none;
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
    margin-bottom: 0px;
}

.color-demo {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
    float: right;
    width: 20px;
    height: 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    background: gray;
}